<div class="col-12">
    <div class="d-flex justify-content-center">
        <mat-card class="row col-4">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password">
            </mat-form-field>
            <button mat-raised-button (click)="submit()">Submit</button>
        </mat-card>
    </div>
</div>